<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BloodBank" connectionString="Data Source=.;Initial Catalog=OurProjectBloodBank;Integrated Security=True" />
    <add name="OurProjectBloodBankConnectionString" connectionString="Data Source=.;Initial Catalog=OurProjectBloodBank;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  <!--<membership>
    <providers>
      <add ConnectionStringName="BloodBank" name="role  Provider"
        type="System.Web.Security.RoleProvider" />
    </providers>
  </membership>-->
 
  <roleManager enabled="true" >
    
  </roleManager>
  
  </system.web>
</configuration>